.header {
  width          : 100%;
  display        : flex;
  justify-content: space-between;
  align-items: center;
}

.cart-items__container {
  display           : flex;
  flex-direction    : column;
  background-color  : var(--primary-card-background);
  border-radius     : 24px;
  padding           : 0.5rem 1rem;
  max-height        : 70%;
  overflow-y        : auto;
  overflow-x        : hidden;
  scrollbar-width   : none;
  -ms-overflow-style: none;
  margin            : 1rem 0;
}

.cart-items {
  display: flex;
}

.cart-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.cart-item__img {
  width : 25%;
  margin: 0.5rem;
}

.cart-item__details {
  display: flex;
}

.cart-item__controls {
  display        : flex;
  justify-content: space-between;
  margin         : 0.5rem;
}

.cart-item__quantity-selector {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary-background);
  padding         : 0.2rem;
  border-radius   : 24px;
}

.cart-item__button {
  text-decoration : none;
  display         : inline-flex;
  align-items     : center;
  justify-content : center;
  width           : 1.5em;
  height          : 1.5em;
  border-radius   : 50px;
  border          : none;
  background-color: var(--secondary-accent);
  color           : var(--text-white);
  font-weight     : 600;
  text-align      : center;
  line-height     : 1.5em;
}

.cart-item__delete-button {
  margin: auto;
  background-color: var(--primary-background);
}